@import "../../../styles/variables";

.dropdown {
  min-width: 150px;
}
.option {
  position: relative;
  &:before {
    content: "";
    height: 5px;
    width: 5px;
    position: absolute;
    border-radius: $radius;
    right: 15px;
    top: 13px;
  }
  &.sport {
    &:before {
      background-color: $pink-red;
    }
  }
  &.shopping {
    &:before {
      background-color: $lime-green;
    }
  }
  &.music {
    &:before {
      background-color: $purple;
    }
  }
  &.other {
    &:before {
      background-color: $sky-blue;
    }
  }
}
