.container {
  height: auto;
  display: flex;
  overflow: hidden;
  list-style: none;
  flex-direction: column;
  padding: 25px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  max-width: 500px;
  margin: 0;
}
