@import "../../../../styles/variables";

.listItem {
  border-radius: $radius;
  font-family: $ff-secondary;
  .type {
    color: $grey;
  }
  &:before {
    content: "";
    height: 20px;
    width: 4px;
    position: absolute;
    border-radius: $radius;
    left: -2px;
  }
  &.sport {
    &:before {
      background-color: $pink-red;
    }
  }
  &.shopping {
    &:before {
      background-color: $lime-green;
    }
  }
  &.music {
    &:before {
      background-color: $purple;
    }
  }
  &.other {
    &:before {
      background-color: $sky-blue;
    }
  }
}
